<!DOCTYPE html>
<html ng-app="RandomNumberApp" ng-controller="LandingPageController">
<head>
    <title ng-bind="title"></title>
</head>
<body>
    <p>
        Please enter the length of the array:
        <input type="text" ng-model="models.randomNumberLength" />
    </p>
    <h1>{{models.randomNumberLength}}</h1>

    <table>
        <tr ng-repeat="integer in models.results track by $index">
            <td>{{ integer }}</td>
        </tr>
    </table>
    <p>
        As per requirement number 2:
        <button ng-click="getRandomNumbers(100)">Get 100 Random Numbers</button>
    </p>
    <p>
        As per requirement 6, also optional submit:
        <button ng-click="getRandomNumbers(models.randomNumberLength)">Get Random Numbers</button>
    </p>
    

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    @Scripts.Render("~/bundles/RandomNumberApp")
</body>
</html>